In [2]:
import pandas as pd

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv("data/bike.csv")

In [5]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [6]:
df.sample(n = 2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
8138,2012-06-19 11:00:00,2,0,1,1,27.06,31.06,69,8.9981,56,174,230
687,2011-02-11 23:00:00,1,0,1,1,7.38,12.12,69,0.0000,5,48,53

In [7]:
df.sample(n = 2, random_state = 30)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
7983,2012-06-13 00:00:00,2,0,1,2,27.06,29.545,94,12.9980,7,27,34
6527,2012-03-09 05:00:00,1,0,1,3,16.40,20.455,66,19.0012,2,27,29

In [8]:
df["season"].unique()

array([1, 2, 3, 4], dtype=int64)

In [35]:
df.sample(frac=0.005, random_state = 34).head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
4219,2011-10-07 20:00:00,4,0,1,1,22.14,25.760,49,0.0000,30,167,197
1409,2011-04-04 14:00:00,2,0,1,2,30.34,32.575,27,32.9975,47,76,123

In [12]:
df.sample(frac = 0.005, random_state = 34).shape

(54, 12)

In [14]:
df_train, df_test = train_test_split(df, train_size = 0.7, random_state = 123)
df_train.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
4046,2011-09-19 15:00:00,3,0,1,2,24.60,30.305,60,15.0013,44,143,187
9262,2012-09-09 07:00:00,3,0,0,1,22.14,25.760,73,11.0014,20,50,70

In [15]:
len(df_train)

7620

In [16]:
len(df_test)

3266

In [18]:
df.sample(frac = 0.0123).shape[0]

134

In [27]:
df_s1 = df.loc[df["season"] == 1,].sample(frac = 0.05)
df_s2 = df.loc[df["season"] == 2,].sample(frac = 0.05)
df_s3 = df.loc[df["season"] == 3,].sample(frac = 0.05)
df_s4 = df.loc[df["season"] == 4,].sample(frac = 0.05)
df_bind = pd.concat([df_s1,df_s2,df_s3,df_s4])
len(df_bind)

545

In [33]:
df_train, df_test = train_test_split(df, test_size=0.2, random_state=123)

In [34]:
df_test["temp"].max()

39.36